<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Btrace-Home</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png">
    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="/assets/css/vendor/flaticon/flaticon.css">
    <link rel="stylesheet" href="/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/vendor/jquery-ui.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/sal.css">
    <link rel="stylesheet" href="/assets/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/vendor/base.css">
    <link rel="stylesheet" href="/assets/css/style.min.css">
</head>

<body>
<div class="axil-signin-area">

    <!-- Start Header -->
    <div class="signin-header">
        <div class="row align-items-center">
            <div class="col-md-6">
                <a href="/home" class="site-logo"><img src="/static/assets/images/logo/logo.png" alt="logo"></a>
            </div>
            <div class="col-md-6">
                <div class="singin-header-btn">
                    <p>Bạn đã có tài khoản?</p>
                    <a href="/home/signin" class="axil-btn btn-bg-secondary sign-up-btn">Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header -->

    <div class="row">
        <div class="col-xl-4 col-lg-6">
            <div class="axil-signin-banner bg_image bg_image--10">
                <h3 class="title">We Offer the Best Products</h3>
            </div>
        </div>
        <div class="col-lg-6 offset-xl-2">
            <div class="axil-signin-form-wrap">
                <div class="axil-signin-form">
                    <h3 class="title">Tôi là thành viên mới</h3>
                    <p class="b2 mb--55">Nhập thông tin chi tiết vào mục bên dưới</p>
                    <form class="singup-form" method="post" >
                        <div class="form-group">
                            <label for="request.fullname" >Your FullName</label>
                            <input type="text" id="request.fullname" class="form-control" name="fullname" required minlength="4" maxlength="40">
                        </div>
                        <div class="form-group">
                            <label for="request.email" >Your Email</label>
                            <input type="email" id="request.email" class="form-control" name="email" required minlength="4" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="request.phonenumber" >Your Phone Number</label>
                            <input type="text" id="request.phonenumber" class="form-control" name="phonenumber" required minlength="4" maxlength="16">
                        </div>
                        <div class="form-group">
                            <label for="request.address" >Your Address</label>
                            <input type="text" id="request.address" class="form-control" name="address" required minlength="4" maxlength="100">
                        </div>
                        <div class="form-group">
                            <label for="request.age">Your Age</label>
                            <input type="number" id="request.age" class="form-control" name="Age" value="Age" required min="18">
                        </div>
                        <div class="form-group">
                            <label for="request.username">User Name</label>
                            <input type="text" id="request.username" class="form-control" name="username" required minlength="4" maxlength="16">
                        </div>
                        <div class="form-group">
                            <label for="request.password">Password</label>
                            <input type="password" id="request.password" class="form-control" name="password" value="123456789" required minlength="4" maxlength="16">
                        </div>
<!--                        <div class="form-group">-->
<!--                            <label for="request.imageFile">Image</label>&ndash;&gt;-->
<!--                            <input type="file" id="request.imageFile" class="form-control" name="request.imageFile">&ndash;&gt;-->
<!--                        </div>-->
                        <div class="form-group">
                            <button type="submit" class="axil-btn btn-bg-primary submit-btn">Tạo Tài khoản</button>
                        </div>
                        <div class="form-group">
                            <a href="/" class="axil-btn btn-bg-secondary sign-up-btn">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS
============================================ -->
<!-- Modernizer JS -->
<script src="/assets/js/vendor/modernizr.min.js"></script>
<!-- jQuery JS -->
<script src="/assets/js/vendor/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="/assets/js/vendor/popper.min.js"></script>
<script src="/assets/js/vendor/bootstrap.min.js"></script>
<script src="/assets/js/vendor/slick.min.js"></script>
<script src="/assets/js/vendor/js.cookie.js"></script>
<!-- <script src="assets/js/vendor/jquery.style.switcher.js"></script> -->
<script src="/assets/js/vendor/jquery-ui.min.js"></script>
<script src="/assets/js/vendor/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/js/vendor/jquery.countdown.min.js"></script>
<script src="/assets/js/vendor/sal.js"></script>
<script src="/assets/js/vendor/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
<script src="/assets/js/vendor/isotope.pkgd.min.js"></script>
<script src="/assets/js/vendor/counterup.js"></script>
<script src="/assets/js/vendor/waypoints.min.js"></script>

<!-- Main JS -->
<script src="/assets/js/main.js"></script>

</body>


<!-- Mirrored from new.axilthemes.com/demo/template/etrade/sign-up.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 22 Nov 2024 09:13:10 GMT -->
</html>